{% extends "base.html" %}
{% block title %}
{{title}}
{% endblock %}

{% block content_title %}
{{title}}
{% endblock %}
{% block content %}

<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}


    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
       <p>
        {{ form.fio.label }}<br>
        {{ form.fio(class="form-control") }}<br>
        {% for error in form.fio.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}<br>
        {% for error in form.description.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.genres.label }}<br>
        {{ form.genres(class="form-control") }}<br>
        {% for error in form.genres.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>



    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}